*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}
:root {
    --main-title: rgb(123, 62, 25);
}
main{
    background-color: aliceblue;
    margin-top: 25px;
    padding-top: 25px;
}
header{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content:center ;
}
.logo{
    width: 180px;
    height: 180px;
}

.first-title{
    display:inline-block;
    text-align: center;
    text-decoration: none;
    color: var(--main-title);
    margin: 25px;
}
.nav a{
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: 16px;
    width: 100%;
}
.nav{
    display: flex;
    justify-content: center;
    align-content: center;
}
.nav li{
    display: inline-block;
    width: 10%;
    background-color: var(--main-title);
    text-align: center;
    color: white;
    border-radius: 5px;
    height: 20px;
    align-items: center;
    font-size: 35px;
    margin: 12px;
    
}
.nav li:hover{
    background-color: #b28b84;
    color: white;
}
.second-title{
    text-align: center;
    font-size: 15px;
    height: 80px;
    padding-top: 25px;
    text-align: center;
    justify-content: center;
    color: var(--main-title);
    opacity: 0.8;

}
.articulos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 700px;    
    line-height: 30px;
}
.articulos .articles{
    width: 300px;
    height: 300px;
    border-radius: 32px;
    background-color: white;
    text-align: center;
    opacity: .7;
}
.articles article{
    display: block;
    height: 80px;
}
.article-h3{
    color: var(--main-title);
    font-size: 25px;
}
.seccion{
    background-image: url(../assets/hockey1.jpg);

}
/* about */
.seccion2{
    background-image: url(../assets/hockey2.jpg);
    background-size: cover;
    height: 800px;
}
.articulos2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 600px;    
    line-height: 30px;
    text-align: center;
}
.article-box{
    padding: 20px;
}
.articulos2 .articles{
    height: 600px;
    width: 400px;
    background-color: white;
    opacity: 0.7;
    border-radius: 34px;
}
/* contact */
.seccion3{
    display: flex;
    flex-direction: column;
    background-image: url(../assets/hockey3.jpg);
    background-size: cover;
    text-align: center;
    height: 600px;
    align-items: center;
}
.second-title-h2{
    color: white;
    font-size: 25px;    
}
.article-p2{
    font-size: 20px;
    color: aliceblue;
}
.article-p2 a{
    text-decoration: none;
    color: aquamarine;
}
.articles3{
    background-color: black;
    opacity: 0.7;
    width: 350px;
    border-radius: 12px;
    padding: 12px;
}
/* rules */
.main-rules{
    display: flex;
    flex-direction: column;
    background-image: url(../assets/hockey1.jpg);
    height: 1320px;
    text-align: center;
    align-items: center;
    background-size: cover;
    
}
.main-rules section{
    text-align: left;
    width: 550px;
    background-color: white;
    opacity: 0.7;
    padding: 30PX;
    border-radius: 32px;
}
.main-rules dt{
    color: var(--main-title);
    font-size: 25px;
}
.main-rules dd{
    font-size: 16px;
    line-height: 25px;
}
span{
    color: var(--main-title);

}
.main-rules li{
    list-style-position: outside;
    margin-bottom: 12px;
    padding-left: 15px;
}
.main-rules h2,h3{text-align: center;
    color: var(--main-title);
    line-height: 28px;

}
/* gameinfo */
.gameinfo{
    display: flex;
    flex-direction: column;
    align-items: center ;
    text-align: center;
    height: 1600px;
    background-image: url(../assets/hockey2.jpg);
    background-size: cover;
}
.gameinfo h1,h2{

    color: var(--main-title);
}
thead th{
    color: var(--main-title);
    padding: 5px;
}
table {
    background-color: white;
    opacity: 0.7;
    border-radius: 32px;
    padding: 12px;
    border: 1px solid var(--main-title);
    margin-bottom: 30px;
    margin-top: 30px;
}
tbody th{
    padding: 5px;
}
.date{
    color: blue;
    background-color: green;
}
.teams{
    background-color: blue;
    color: crimson;
}
.location{
    background-color: blueviolet;
    color: yellow
}
.time{
    background-color: bisque;
    color: forestgreen
}
.gameinfo div p{
    height: 28px;
    
}
div p b {
    color: var(--main-title);
    /* text-align: left; */
}
.finalinfo{
    display: flex;
    align-items: left;
    flex-direction: column;
    width: 500px;   
    align-content: space-evenly;
    background-color: white;
    opacity: 0.7;
    padding: 22px;
    border-radius: 30px;
}
.finalinfo div{
    height: 50px;
    text-align: start;
    line-height: normal;
}
iframe{
    height: 100px;
}
/*registration*/
.mainRegist{    
    position: relative;
    display: block;
    background-image: url(../assets/hockey2.jpg);
}
form{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
    align-items: center;
    
}
.second-title-regist{
    font-size: 25px;
    align-items: center;
    align-content: center;
}
.inputText {
    padding: 3px;
    box-shadow: 3px 3px 5px #b28b84;
    font-size: 14px;
    font-weight: 600;
    width: 300px;
    border:1px solid var(--main-title) ;
    border-radius: 5px;
}
label{
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    display: inline-block;
    width: 160px;
    text-align: right;
    cursor: pointer;
    
}
input[type=radio]{
    cursor: pointer;
    
}
legend{
    font-size: 20px;
    font-weight: bolder;
}
fieldset{
    height: 550px;
    border:solid 1px #7b3e19;
    border-radius:  32px;
    padding: 50px;
    width: 600px;    
    background: rgba(233, 218, 210, 0.8);
    margin: 15px;
    
}
.fieldset1 div{
    align-content: center;
    align-items: center;
    align-self: center;
    margin: 15px;
}
.fieldset2{
    height: 300px;
    text-align: center;
}
.gender{
    border: none;
    height: 100px;
    padding: 10px;
    width: 300px;
    background: none;
}
.genderLabels{
    width: 100px;
}
.gradeFieldset{
    display: flex;
    width: 300px;
    flex-direction: row;
}
.gradeFieldset input{
    display: inline-flex;    
}
.gradeFieldset label{
    padding: 15px;
    font-size: 12px;
}
.fieldset3 {
    height: 130px;
    padding: 12px;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
}
.fieldset4{
    height: 170px;
    padding: 12px;
    text-align: center;
}
.fieldset5{
    font-size: 12px;
    line-height: 25px;
    height: 400px;
    padding: 42px;
}
.parentSign, .dateSign{
    width: 200px;
}
.btn{
    border: #7b3e19;
    background-color: #b28b84;
    height: 50px;
    width: 85px;
    text-align: center;
    color: aliceblue;
    margin: 7px;
    border: 1px solid var(--main-title);
    border-radius: 5px;
}
.btn::after{
    background-color: aliceblue;
    border: 1px solid var(--main-title);
}
.btn:hover{
    cursor: pointer;
}